<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <%- include('head'); %>
    <style>
      .work-header {
        background-color: var(--banner-background-color);
        text-align: center;
        padding: 16px 0;
      }
      .work-header h1 {
        margin: 0;
      }
      .work h2 {
        font-size: 20px;
        line-height: 30px;
        margin: 30px auto;
        padding: 0 20px;
        width: 100%;
        max-width: 820px;
      }
      #listing-content {
        padding: 0;
        margin: 40px -20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
      #listing-content li {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        background-color: var(--card-background-color);
        border-radius: 10px;
        transition: all .25s cubic-bezier(.02,.01,.47,1);
        margin: 0 20px 40px 20px;
        overflow: hidden;
        box-shadow: 0 10px 10px rgba(0,0,0,0.08),0 0 0 transparent;
      }
      #listing-content li:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 60px 0 rgba(0,0,0,0.2),0 0 0 transparent;
      }
      #listing-content li a {
        text-decoration: none;
      }
      #listing-content li img {
        height: 180px;
        width: 100%;
        object-fit: cover;
      }
      #listing-content li .project-content {
        padding: 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      #listing-content li h2 {
        letter-spacing: .4px;
        line-height: 1.3;
        font-size: 1.25rem;
        font-weight: 600;
        margin: 0;
      }
      #listing-content li .meta {
        margin: 8px 0 0;
        color: var(--color);
      }
      @media screen and (min-width: 608px) {
        #listing-content li .project-content {
          height: 180px;
        }
      }
    </style>
  </head>
  <body>
    <%- include('header'); %>
    <section class="work-header">
      <h1>Selected Work</h1>
    </section>
    <div class="main-wrapper">
      <div class="work">
        <div class="content">
          <%- content %>
        </div>
      </div>
      <ul id="listing-content">
        <% listingItems.forEach(function(item){ %>
          <%- include('work-listing-item', { item }); %>
        <% }); %>
      </ul>
    </div>
    <%- include('footer'); %>
  </body>
</html>